.btn{
  width: 90%;
  margin: 0 auto 30px;
}

.danger{
  border: 1px solid #D84B6E;
  outline: #D84B6E;
  background-color: #D84B6E;
  color: #fff;
}

.login {
  border: 1px solid #07c160;
  outline: #07c160;
  background-color: #07c160;
  color: #fff;
}

.danger_light{
  border: 1px solid #D84B6E;
  outline: #D84B6E;
  color: #D84B6E;
}
